.DS_Store
**/.idea/
**/node_modules/
**/tmp.js
**/tmp/
**/dist/
**/iconfont.*
**/logs/
**/src/conf/router/routes.js
**/el-theme/
**/theme/index.js
**/theme/index.scss

**/yarn-error.log
**/package-lock.json
**/*.log

!packages/builder/test/e2e/local-server/asset/dist
!packages/builder/test/e2e/compiler/asset/plain/src/conf/router/routes.js
